.demo {
  display: flex;
  justify-content: center;
}

.square {
  margin-top: 25vh;
  height: 250px;
  width: 300px;
  background-image: url('../img/bg.png');
}

.top-writing {
  text-align: center;
  margin-top: 20px;
}

.map-red {
  text-align: center;
}

.list {
  display: flex;
  justify-content: space-evenly;
}

.list-item {
  height: 40px;
  width: 40px;

}

#writing {
  display: none;
  margin-top: -250px;
}