.demo {
  display: flex;
  justify-content: center;
}

.square {
  margin-top: 25vh;
  height: 250px;
  width: 300px;
  background-image: url(img/1.png);
}

.map-red {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 50px;
}

.development {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.dev1 {
  width: 35px;
  height: 30px;
  background-image: url(img/dev1.png);
}
.dev2 {
  width: 35px;
  height: 30px;
  background-image: url(img/dev2.png);
}
.dev3 {
  width: 35px;
  height: 30px;
  background-image: url(img/dev3.png);
}
.dev4 {
  width: 35px;
  height: 30px;
  background-image: url(img/dev4.png);
}

.dev1,
.dev2,
.dev3,
.dev4 {
  align-self: flex-end;
  margin-bottom: 10px;
}

#writing {
  display: none;
  margin-top: -250px;
}
